{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-2">
	{% if Fname %}
	  <center>
	  	<h3>Hello, {{Fname}}</h3>
	  	<p>We Received Your <strong>{{service}}</strong> Request <br> and Will Process It Shortly After Verifying Your Payment Details</p>
	  	<p><strong>Note:</strong>You Will Receive Payment Verification Receipt From Venric Consultance <br> Shortly After Your Payment Have Been Processed</p>
	  	<h4>Your Request Will Be Processed In The Next 2 minutes, Kindly Be Patient</h4>
	  	<p>Make Sure Your Mobile Phone Is Incase The Agent Serving You May Need To Call For Some Details Verification</p>
	  	<h5>Incase You Have Not Yet Paid Use The Table Below To Pay For Your Service</h5>
	  </center>
      <br/><br><br/>

	{% else %}
	<h3>Fill In Your Details</h3>
	<div class="form-container">
		<form action="" method="post" class="form-control form-control-sm">
			{% csrf_token %}

			{{form.as_p}}

			<div class="col-auto">
               <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>

			
		</form>
			
		
    {% endif %} 
	<center>
	<img src="{% static 'webApp/images/m5.png' %}" width="500">
    <h3>Go To Your Mpesa Menu, Lipa Na Mpesa</h3>
    <h4>Buy Goods and Services,Enter Till Number: 7560749</h4>
    <h5>Use The Table Below To Pay For Your Service</h5>
    <h2>Pricing</h2>
    </center>
    <div class="table-container">
    <table class="table table-primary table-striped table-hover table-bordered ">
		<thead>
		  <tr>
		    <th scope="col">#</th>			
			<th>Service Names</th>
			<th>Amount To Pay</th>
		  </tr>
        </thead>
        <tbody>
        	<tr>
        		<th scope="row">1</th>
        		<td>INDIVIDUAL RETURN FILING</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
        	    <th scope="row">2</th>	
        		<td>COMPANY TAX RETURN FILING</td>
        		<td>KSH 200</td>
            </tr>
            <tr>
            	<th scope="row">3</th>
        		<td>VAT RETURN FILING</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">4</th>
        		<td>PAYE RETURN FILING</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">5</th>
        		<td>KRA PIN REGISTRATION</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">6</th>
        		<td>CHANGE OF KRA EMAIL</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">7</th>
        		<td>RENEWING DRIVING LICENSE</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">8</th>
        		<td>TEMPORARY PERMIT</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">9</th>
        		<td>PASSPORT APPLICATION</td>
        		<td>KSH 500</td>
        	</tr>
        	<tr>
            	<th scope="row">10</th>
        		<td>BUSINESS CARDS DESIGN </td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">11</th>
        		<td>CUSTOM INVOICE/DELIVERY DESIGN </td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">12</th>
        		<td>WEDDING/FUNERAL  CARD DESIGN</td>
        		<td>KSH 200</td>
        	</tr>
        	<tr>
            	<th scope="row">13</th>
        		<td>BANNERS DESIGN</td>
        		<td>KSH 200</td>
        	</tr>		
        </tbody>		
	</table>
   </div>
    <center>
    <p><strong>Note: </strong> After Successfully Paying For The Requested Service <br> You Will Receive an SMS Confirmation Shortly and ThereAfter Your Service Will Be Processed </p>
    </center>
  </div> 

	
</div>











{% endblock content %}