{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-1">
   <br/><br><br/>
   <br/><br><br/>
   <br/><br><br/>
   <div class="row">
   	 <div class="col-2">
        <h1>ALL CYBER SERVICES <br> At The Comfort Of Your Home!</h1>
        <p>Try Venric Cyber Services Now <br> And Get Your Filling Done <br> In Just a Blink of an Eye!!</p>
        <a href="{% url 'registration' %}"class="btn btn-success">KRA Pin Registration</a>
     </div>
     <div class="col-2">
      <img src="{% static 'webApp/images/5.jpg'  %}">
     </div>
  </div>
   <br/><br><br/>
   <br/><br><br/>
   <br/><br><br/>
   <br/><br><br/>
</div>
<div class="container-9">
      <div class="c-detail">
          <br/><br><br/>
          <br/><br><br/>
         <h1>Experiencing Any Problem On Our Page <br> Here is The solution</h1>
            <p>Use our <a href="{% url 'contact' %}" class="btn btn-success">Contact</a> Page to Tell Us Your Problem and Get Help immediately </p>
            <h5>At Venric Consultance We are Determined To Serve You Better and Fast</h5>
            <br/><br><br/>
            <br/><br><br/>
            <br/><br><br/>
            <br/><br><br/>

         
      </div>
      
   </div>
<div class="container-10">
   <div class="detailed">
      <br/><br><br/>
      <br/><br><br/>

      <h1>About Venric Consultance</h1>
      <p><strong>Venric Consultance</strong> is an online cyber, which offers the services you get in a cyber near you online <br> that is you can get any service you want remotely from wherever you are.</p>
      <br/><br><br/>
      <br/><br><br/>
      <br/><br><br/>
      <br/><br><br/>
      <br/><br><br/>
      <br/><br><br/>
      <br/><br><br/>
      
   </div>
   
</div>      

{% endblock content %}